<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Grundlagen</title>
  <link rel="stylesheet" href="theme.css" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <div class="container" id="app" v-cloak>  
    <div class="card">
      <h1 
        :style="{color: inputValue.length < 5 ? 'darkblue' : 'cadetblue',
        fontSize: inputValue.length < 5 ? '1.9rem' : '2rem'}">
        {{ title }}</h1><!-- interpolation -->
      <div class="form-control">
        <!-- for html attributes we can't use interpolation, we should bind el-ts -->
        <input 
          type="text" 
          :placeholder="placeholder" 
          v-model="inputValue"
          @keypress.enter="addNote"
        /> 
        <!-- v-bind == : -->
        <!-- v-on == @ -->
      </div> 
      <button class="btn" v-on:click="addNote">Add</button> 
      <hr /> 

      <ul class="list" v-if="notes.length !== 0">
        <li class="list-item" 
          v-for="(n, index) in notes"> <!-- iteration -->
          <span 
          :class="n.length > 4 ? 'primary' : 'bold'">
            ({{ index + 1 }}) {{ makesUpper(n) }}
            <!-- methods can be called in interpolation -->
            <!-- or :class="{'primary': true, 'bold': n.length < 5}" -->
            <!-- or :class="['bold', {'primary': n.length > 5}]-->
          </span>
          <button class="btn danger" v-on:click="removeNote(index)">Löschen</button> 
          <!-- add $event after index if we need to become browser event  -->
        </li>
        
        <hr /> 
        <li>
          <strong>Insgesamt:{{ notes.length }} | Mal 2 = {{ doubleCount }} </str ong>
        </li>
      </ul>

      <div v-if="notes.length === 0">Es gibt noch keine Notizen. Füge die erste hinzu!</div>
    
    </div>
  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script src="2.notes.js"></script> 
</body>

</html>